* {
  box-sizing: border-box;
}

:root {

  --btnRedBorder: rgb(254, 87, 87);
  --btnOrangeBorder: rgb(213, 90, 20);

  --btnRedInnerActivated: rgb(254, 87, 87);
  --btnOrangeInnerActivated: rgb(247, 150, 70);

  --btnRedInnerDeactivated: rgb(229, 185, 183);
  --btnOrangeInnerDeactivated: rgb(251, 213, 181);
}

header {
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 2px solid black;
  padding-left: 5rem;
}

header h1 {
  font-size: 1.5rem;
}

.crustUI {
  height: auto;
  width: 100%;
}

.diagramContainer {
  margin-top: 2rem;
  width: 100vw;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
}

.calculator {
  height: 100%;
  width: 100%;
}

.ui {
  width: 90vw;
  height: 15rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  border: 2px dotted black;
  margin: 0 auto;
  margin-top: 5rem;
}

.diameterUI, .crustUI, .insidePercentUI, .crustPercentUI {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pizzaUI, .graphUI {
  min-height: 0;
  min-width: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  font-weight: bold;
}

.uiContent {
  margin: 0 auto;
}

.pizzaUI > * {
  padding: 2rem;
  border-right: 2px dotted black;
  font-size: 1.25rem;
  text-align: center;
}

.graphUI > * {
  padding: 2rem;
}

.graphUI > *:first-child {
  border-right: 2px dotted black;
}

.insidePercentUI, .crustPercentUI {
  /* removes gaps between buttons */
  font-size: 0;
}

/* Styles for all inside percent buttons */
.insidePercentUI .toggleGraphLine, .insidePercentUI .toggleEvaluator {
  border: 2px solid var(--btnRedBorder);
  height: 4rem;
  font-size: 1.5rem;
}

/* Styles for all crust thickness buttons */
.crustPercentUI .toggleGraphLine, .crustPercentUI .toggleEvaluator {
  border: 2px solid var(--btnOrangeBorder);
  height: 4rem;
  font-size: 1.5rem;
}

/* activated/deactivated styles for graph toggler buttons */
.insidePercentActivated {
  background: var(--btnRedInnerActivated);
  border: 2px solid var(--btnRedBorderActivated);
  color: white;
}
.insidePercentDeactivated {
  background: var(--btnRedInnerDeactivated);
  border: 2px solid var(--btnRedBorderDeactivated);
}
.crustActivated {
  background: var(--btnOrangeInnerActivated);
  border: 2px solid var(--btnOrangeBorderActivated);
  color: white;
}
.crustDeactivated {
  background: var(--btnOrangeInnerDeactivated);
  border: 2px solid var(--btnOrangeBorderDeactivated);
}

/* Styles for graph line togglers */
.insidePercentUI .toggleGraphLine, .crustPercentUI .toggleGraphLine {
  border-radius: 5px 0 0 5px;
}

/* Styles for evaluator togglers */
.insidePercentUI .toggleEvaluator, .crustPercentUI .toggleEvaluator {
  width: 4rem;
  border-radius: 0 5px 5px 0;
}

.crosshair {
  height: 35%;
  width: 100%;
}




